{% extends "base.html" %}

{% block content %}
<div class="top-content">

    <!--<div class="inner-bg" style="background-color:#59c4af">-->
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <!--<div class="description">-->
                    <div class="description" style="color:#555">
                        <h2>Thanks!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}


